<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/images/Yoshi Island.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles.css">
    {% block titulo %}
        <title>Launchbase desafio 2-1</title>
    {% endblock %}
</head>

<body>

    <main class="principal">

        <header>
            <a class="link" href="/teachers">Teachers</a>
            <a class="link" href="/students">Students</a>
        </header>

        {% block content %}
        <!-- Aqui vai vir o contéudo -->
        {% endblock %}
    </main>

    <script src="/script.js"></script>
</body>

</html>