<div class="item">
                <div>Avatar url</div>
                <input type="url" 
                name="avatar_url" 
                placeholder="https://"
                value="{{students.avatar_url}}"
                >
            </div>
            <div class="item">
                <div>Nome Completo</div>
                <input type="text" 
                name="name" 
                placeholder="Nome do professor"
                value="{{students.name}}"
                >
            </div>
            <div class="item">
                <div>Email</div>
                <input type="email" name="email" value="{{students.email}}">
            </div>
            <div class="item">
                <div>Ano escolar:</div>
                <select name="school">
                    <option value="" disabled selected placeholder="Selecione a escolaridade"></option>
                    <option value="5" {% if students.school == '5' %} selected {% endif %}>5° Ano do ensino fundamental</option>
                    <option value="6" {% if students.school == '6' %} selected {% endif %}>6° Ano do ensino fundamental</option>
                    <option value="7" {% if students.school == '7' %} selected {% endif %}>7° Ano do ensino fundamental</option>
                    <option value="8" {% if students.school == '8' %} selected {% endif %}>8° Ano do ensino fundamental</option>
                    <option value="9" {% if students.school == '9' %} selected {% endif %}>9° Ano do ensino fundamental</option>
                    <option value="1" {% if students.school == '1' %} selected {% endif %}>1° Ano do ensino médio</option>
                    <option value="2" {% if students.school == '2' %} selected {% endif %}>2° Ano do ensino médio</option>
                    <option value="3" {% if students.school == '3' %} selected {% endif %}>3° Ano do ensino médio</option>
                </select>
            </div>
            <div class="item">
                <div>Carga horária semanal</div>
                <input type="number" name="charge" value="{{students.charge}}">
            </div>
            <div class="item">
                <div>Data de aniversário</div>
                <input type="date" name="birth" value="{{students.birth}}">
            </div>
            
            <button type="submit">Salvar</button>